html, body {
    padding: 0;
    margin: 0;

    font-family: 'Roboto', sans-serif;
}

ul, p {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.wrapper {
    display: flex;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.options-list {
    display: flex;
    margin-top: 20px;
}

.options-list-item {
    display: flex;
    margin-left: 20px;
}

.button {
    margin-top: 20px;
}

.options-list-item:first-child {
    margin-left: 0;
}

.disabled {
    color: grey;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#chart {
    border: 1px solid #ededed;
}
